<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netforceinfotech.tripsplit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".posttrip.PostTripActivity" />
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".Dashboard.DashboardActivity" />
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".NavigationView.Message.writemessage.WriteMessageActivity" />
        <activity android:name=".Review.ReviewListActivity" />
        <activity android:name=".Review.ReviewDetails.ReviewDetails" />
        <activity android:name=".Search.SearchSplitActivity"></activity>
    </application>

</manifest>
